<style type="text/css">
    .banner{
            margin-top: 60px;
            height: 400px;
            
            background-repeat: no-repeat;
            /* background-attachment: fixed; */
            background-position: center;
            background-size: 100% 100%;
            background-origin: content-box;
            z-index: 1;
    }
</style>
                        

<div class="content-page" >

    
                    
    <div class="col-md-12">
        
        <div class="card-box" style="margin-top: 100px;">
            <div class="row">
                <div class="col-lg-12" >
                    <h4 class="m-t-0 header-title"><b>Utilisateur : {{$resolve.user.name}} {{$resolve.user.firstName}}</b></h4>
                    
                    <div class="p-20">
                        
                        <p>ID Habitation: {{$resolve.user.id}}</p>

                        <form>

                            <div class="form-group">
                                <label for="address">Nom :</label>
                                <input type="text" class="form-control" name="address" ng-model="$resolve.house.name">
                            </div>
                            <div class="form-group">
                                <label for="address">Adresse :</label>
                                <input type="text" class="form-control" name="address" ng-model="$resolve.house.address">
                            </div>
                            <div class="form-group">
                                <label for="postalCode">Code Postal :</label>
                                <input type="text" class="form-control" name="postalCode" ng-model="$resolve.house.postalCode">
                            </div>
                            <div class="form-group">
                                <label for="city">Ville :</label>
                                <input type="text" class="form-control" name="city" ng-model="$resolve.house.city">
                            </div>
                            <div class="form-group">
                                <label for="country">Pays :</label>
                                <input type="text" class="form-control" name="country" ng-model="$resolve.house.country">
                            </div>
                            <div class="form-group">
                                <label for="value">Valeur :</label>
                                <input type="text" class="form-control" name="value" ng-model="$resolve.house.value">
                            </div>

                            <button class="btn btn-block  btn-success" ng-click="save()"><i class="fa fa-save"></i> Enregistrer</button>
                        </form>

                        
                    </div>

                </div>
                
         
            </div>
        </div>

    </div>

