<style type="text/css">
    .banner{
            margin-top: 60px;
            height: 400px;
            
            background-repeat: no-repeat;
            /* background-attachment: fixed; */
            background-position: center;
            background-size: 100% 100%;
            background-origin: content-box;
            z-index: 1;
    }
</style>
                        

<div class="content-page" >

    
                    
    <div class="col-md-12">
        
        <div class="card-box" style="margin-top: 100px;">
            <div class="row">
                <div class="col-lg-12" >
                    <h4 class="m-t-0 header-title"><b>Création d'un trajet</b></h4>
                    
                    <div class="p-20">
                        
                        <form>

                            <div class="form-group">
                                <label for="name">Distance :</label>
                                <input type="number" class="form-control" min="0" name="distance" ng-model="distance">
                            </div>


                            <button class="btn btn-block  btn-success" ng-click="addTravel($resolve.car,distance)"><i class="fa fa-save"></i> Créer</button>
                        </form>

                        
                    </div>

                </div>
                
         
            </div>
        </div>

    </div>

